extends  ../layout
block content
   #detaile
      .detaile_left
         img(src='#{data.poster}',title="#{data.title}")
      .detaile_right
         dl
            dt 电影名字
            dd=data.title
            dt 导演
            dd=data.doctor
            dt 语言
            dd=data.language
            dt 国家
            dd=data.country
            dt 年份
            dd=data.year
            dt 简介
            dd=data.summary

